<section class="rounded-[10px] backdrop-blur-[10px] bg-primary p-4">
    <div class="flex items-center justify-center gap-2 mt-4">
        <img src="/assets/svg/time.svg" alt="Icone do Sol" />
        <h2 class="text-[16px] text-subtle">Horário do sol</h2>
    </div>
    <div class="mt-10 h-27.5">
        <div
        class="relative mx-auto w-54 h-54 before:content-[''] before:block before:absolute before:top-1/2 before:left-1/2 before:-m-1.5 before:transform-[rotate(calc((((100-80)/-100)*180)*1deg))_translate(106px)] before:h-3 before:w-3 before:bg-[#f6c833] before:rounded-full"
        >
        <div
            class="w-54 h-27 overflow-hidden relative before:content-[''] before:block before:w-53.5 before:h-53.5 before:[background:linear-gradient(180deg,rgba(251,219,96,0.2)_0%,rgba(251,219,96,0)_101.89%)] before:rotate-144 before:rounded-full before:[mask:linear-gradient(0deg,#fff_50%,transparent_0%)]"
        >
            <img class="absolute top-0" src="/assets/svg/chart.svg" alt="Gráfico indicando o tempo" />
        </div>
        <time class="absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 font-bold text-[14px]">17:25</time>
        </div>
    </div>
    <div class="flex items-center justify-between max-w-69 mx-auto mt-2.5 mb-4 px-4">
        <time class="text-[14px]">06:00</time>
        <time class="text-[14px]">18:00</time>
    </div>
</section>