<section class="min-[1200px]:col-[2/4] flex justify-center gap-6 p-10 rounded-[10px] backdrop-blur-[10px] bg-primary">
    <div class="flex flex-col items-center justify-center gap-4">
      <h2 class="text-[14px]">Amanhã</h2>
      <img class="h-16 w-16" src="/assets/svg/clouds.svg" alt="Icone do clima de Hoje" />
      <div class="text-[14px]">21 ° <span class="text-muted"> 16° </span></div>
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h2 class="text-[14px]">Terça</h2>
      <img class="h-16 w-16" src="/assets/svg/sun.svg" alt="Icone do clima de Hoje" />
      <div class="text-[14px]">28° <span class="text-muted"> 20° </span></div>
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h2 class="text-[14px]">Quarta</h2>
      <img class="h-16 w-16" src="/assets/svg/clouds-rain.svg" alt="Icone do clima de Hoje" />
      <div class="text-[14px]">25° <span class="text-muted"> 21° </span></div>
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h2 class="text-[14px]">Quinta</h2>
      <img class="h-16 w-16" src="/assets/svg/clouds-thunder.svg" alt="Icone do clima de Hoje" />
      <div class="text-[14px]">20° <span class="text-muted"> 14° </span></div>
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h2 class="text-[14px]">Sexta</h2>
      <img class="h-16 w-16" src="/assets/svg/clouds-sun.svg" alt="Icone do clima de Hoje" />
      <div class="text-[14px]">24° <span class="text-muted"> 18° </span></div>
    </div>
  </section>