<section class="flex flex-wrap justify-center gap-3 min-[1200px]:gap-6 p-4 min-[1200px]:p-10 rounded-[10px] backdrop-blur-[10px] bg-primary">
    @for (day of weatherDays; track day.name) {
      <div class="flex flex-col items-center justify-center gap-2 min-[1200px]:gap-4 basis-[calc(33.333%-0.5rem)] min-[1200px]:basis-auto">
        <h2 class="text-[14px]">{{ day.name }}</h2>
        <app-weather-icon [name]="day.weather" class="h-12 w-12 min-[1200px]:h-16 min-[1200px]:w-16" />
        <div class="text-[14px]">24° <span class="text-muted"> 18° </span></div>
      </div>
    }
  </section>