/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #6d67d0;
  --color-secondary: #e7e6fb;
  --color-accent: #87ebcd;
  --color-muted: #c2bff4;
  --color-subtle: #dad8f7;

  --color-warning: #f6c833;
  --color-alert: #f5923e;
  --color-danger: #f2495c;
  --color-critical: #a23c5c;

  --color-sun: #f6c833;
  --color-moon: #cbd5e1;
}
