<section class="grid text-center max-h-69.25 gap-8 p-4 rounded-[10px] backdrop-blur-[10px] bg-primary">
    <div class="flex items-center justify-center gap-2">
      <img src="/assets/svg/leaf.svg" alt="Icone de uma folha" />
      <h2 class="text-[16px] text-subtle">Qualidade do ar</h2>
    </div>
    <div>
      <h3 class="font-bold text-[18px]" [class]="airQualityColorClass">{{ airQualityQualification }}</h3>
      <h2 class="mt-1 text-[40px] text-secondary">{{ airQualityIndex }}</h2>
    </div>
    <div class="grid grid-flow-col gap-4">
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px]" [class]="pollutantColorClass('pm10')">{{ pm10 }}</p>
        <p class="text-[12px] uppercase text-secondary">PM10</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px]" [class]="pollutantColorClass('so2')">{{ so2 }}</p>
        <p class="text-[12px] uppercase text-secondary">sO₂</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px]" [class]="pollutantColorClass('no2')">{{ no2 }}</p>
        <p class="text-[12px] uppercase text-secondary">NO₂</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px]" [class]="pollutantColorClass('o3')">{{ o3 }}</p>
        <p class="text-[12px] uppercase text-secondary">O₃</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px]" [class]="pollutantColorClass('co')">{{ co }}</p>
        <p class="text-[12px] uppercase text-secondary">CO</p>
      </div>
    </div>
  </section>