<section class="grid text-center max-h-69.25 gap-8 p-4 rounded-[10px] backdrop-blur-[10px] bg-primary">
    <div class="flex items-center justify-center gap-2">
      <img src="/assets/svg/leaf.svg" alt="Icone de uma folha" />
      <h2 class="text-[16px] text-subtle">Qualidade do ar</h2>
    </div>
    <div>
      <h3 class="font-bold text-[18px] text-accent">Boa</h3>
      <h2 class="mt-1 text-[40px] text-secondary">21</h2>
    </div>
    <div class="grid grid-flow-col gap-4">
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px] text-accent">12.9</p>
        <p class="text-[12px] uppercase text-secondary">PM2.5</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px] text-accent">12.9</p>
        <p class="text-[12px] uppercase text-secondary">PM10</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px] text-accent">2.1</p>
        <p class="text-[12px] uppercase text-secondary">sO₂</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px] text-accent">1.4</p>
        <p class="text-[12px] uppercase text-secondary">NO₂</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px] text-accent">21.2</p>
        <p class="text-[12px] uppercase text-secondary">O₃</p>
      </div>
      <div class="grid gap-0.5">
        <p class="font-bold text-[14px] text-accent">0.7</p>
        <p class="text-[12px] uppercase text-secondary">CO</p>
      </div>
    </div>
  </section>